 <div class="box box">
                        <div class="box-header">
                            <h3 class="box-title">Widget Information</h3>
                            <i ng-if="widgetCtrl != undefined" class="fa fa-times-circle showCursor" title="collapse deivce detail pane." style="color: #e3e3e3; font-size: 21px;" 
                            ng-click="widget.toggleDetailPane();"></i>
                        </div>
                        
                        <div class="box-body">
                            <h4>Widget Details</h4>
                            <table class="table table-bordered">
                                                              
                                <tr>
                                    <th>Name:</th>
                                    <td ng-bind="widget.originalWidgetItem.name"></td>
                                </tr>
                                <tr>
                                    <th>Value:</th>
                                    <td ng-bind="widget.originalWidgetItem.value"></td>
                                </tr>
                            </table>
                            <h4>Additional Details</h4>
                            <table class="table table-bordered">
                               <tr ng-repeat="(key,value) in widget.originalWidgetItem" ng-if="key != 'name' && key !='value'">
                                    <th style="text-transform: capitalize;">{{key}}:</th>
                                    <td ng-bind="value"></td>
                                </tr>
                                <tr>
                                <th></th>
                                <td><button class="btn" ng-click="widget.editWidget()">Edit</td>
                                </tr>
                            </table>                           
                                                     
                        </div>
                    </div>

 

